.proCard {
    min-height: 310px;
}

.proCard:hover {
    background-color: rgb(235, 238, 243);
}

.proCardBody {
    margin: -10px 0px -15px 0px !important
}

.memberProfileImg {
    width: 200px;
}

.memberProFont {
    font-size: 15px;
    line-height: 1.1;
}

.formArea {
    font-size: 14px !important;
}