.proCard {
    min-height: 310px;
}

.proCard:hover {
    background-color: rgb(235, 238, 243);
}

.proCardBody {
    margin: -10px 0px -15px 0px !important
}

.memberProfileImg {
    width: 200px;
}




.memberProFont {
    font-size: 15px;
    line-height: 1.1;
}


.imageUpload {
    background-color: rgb(32, 79, 235);
    font-size: 12px;
    color: white;
    width: 84px;
    /* height: 8px; */
    padding: 0px 4px;
    border-radius: 6px;
    margin: 0 0;
}

.imageUpload:hover {
    background-color: rgb(17, 46, 139);
}

.coCurricular {
    background-color: rgb(32, 79, 235);
    font-size: 12px;
    color: white;
    width: 120px;
    /* height: 8px; */
    padding: 0px 4px;
    border-radius: 6px;
    margin: 0 0;
}

.coCurricular:hover {
    background-color: rgb(17, 46, 139);
}