.summaryMain__style {
  background-image: url(../../../assets/Image/Slider/Rectangle\ 1136.png),
    linear-gradient(#020e30, #24335b);
  background-position: center;
  background-blend-mode: overlay;
}

.successCard {
  width: 257px;
  height: 160px;
}