.memberDirectory {
    margin: 0 0 80px 0;
    padding: 15px;
    border-radius: 15px;
    background-color: rgb(226 227 231);
}

.searchField {
    height: 40px;
}

.searchField:hover {
    background-color: rgb(203, 217, 244);
}

.nameSearch {}

.mobileSearch {}

.defaultDataShow {
    background-color: white;
    border-radius: 10px;
    padding: 7px;
    margin: 0 10px 10px 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px 0px;
}

.cardArea {
    /* background-color: rgb(161, 244, 180) */
}

.cardArea:hover {
    background-color: rgb(227, 224, 224);
}

.cardImg {
    padding: 6px;
    border-radius: 15px;
}

.cardText {
    text-align: center;
    line-height: 20px;
}

.memberDirectoryImg {
    width: 120px;
    height: 125px;
    /* height: 100px; */
    border-radius: 50%;
    box-shadow: 0px 0px 8px 0px;
    margin-bottom: 5px;
}



/* searchResult */

.searchResult {
    border: 2px solid darkgreen;
    border-radius: 10px;
    padding: 10px;
}

.directoryMember {
    background-color: rgb(226 227 231);
    font-size: 13px;
    border-radius: 10px;
    border: 1px solid #cec9c9;
}

.directoryMember:hover {
    background-color: rgb(192, 193, 196);
}

.customPagination {}

.bcsBatch {}


@media (min-width: 1440px) and (max-width: 2559.98px) {}

@media (min-width: 1024px) and (max-width: 1199.98px) {}

@media (min-width: 992px) and (max-width: 1023.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {
    .defaultDataShow {
        background-color: rgb(157, 190, 244);
        border-radius: 10px;
        padding: 6px;
        margin: 0px 0px 0px 0px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* gap: 10px 0px; */
    }

    /* .nameSearch {
        width: 134% !important;
    }

    .mobileSearch {
        width: 97% !important;
        margin-left: 79px !important;
    } */
}

@media (min-width: 425px) and (max-width: 767.98px) {

    .defaultDataShow {
        background-color: rgb(157, 190, 244);
        border-radius: 10px;
        padding: 5px;
        margin: 0px 0px 0px 0px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* gap: 10px 0px; */
    }


    .customPagination {
        --bs-pagination-padding-x: 0.15rem !important;
        --bs-pagination-padding-y: 0.01rem !important;
        --bs-pagination-font-size: 14px !important;
    }
}

@media (min-width: 320px) and (max-width: 424.98px) {

    .defaultDataShow {
        background-color: rgb(157, 190, 244);
        border-radius: 10px;
        padding: 3px;
        margin: 0px 0px 0px 0px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* gap: 10px 0px; */
    }

    .memberDirectory {
        padding: 3px;
    }


    .customPagination {
        --bs-pagination-padding-x: 0.15rem !important;
        --bs-pagination-padding-y: 0.01rem !important;
        --bs-pagination-font-size: 14px !important;
    }

    .bcsBatch {
        font-size: 11px;
        font-weight: bold;
    }

}