.activenav__Style {
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  /* background-color: #2b72ef; */
  background-color: #0742a9;
  border-radius: 4px;
  padding: 8px 10px;

}

/* .activenav__style {
  color: red !important;
} */

.normalnav__Style {
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  /* background-color: #2b72ef; */
  background-color: #508bf2;
  border-radius: 4px;
  padding: 8px 10px;
}

.normalnav__Style:hover {
  background-color: #0742a9;
}



/* .normalnav__Style {
  display: inline-block;
  padding-bottom: 2px;
  background-image: linear-gradient(#000 0 0);
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s;
}

.normalnav__Style:hover {
  background-position: 100% 100%;
  background-size: 100% 2px;
} */



@media (min-width: 1440px) and (max-width: 2559.98px) {}

@media (min-width: 1024px) and (max-width: 1199.98px) {}

@media (min-width: 992px) and (max-width: 1023.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {
  .normalnav__Style {
    color: white;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
    text-transform: uppercase;
    background-color: #2b72ef;
    border-radius: 4px;
    padding: 1px;
    /* margin: 0 0; */
  }

  .activenav__Style {
    color: white;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0px;
    text-transform: uppercase;
    background-color: #2b72ef;
    border-radius: 4px;
    padding: 1px;
  }
}

@media (min-width: 425px) and (max-width: 767.98px) {}

@media (min-width: 320px) and (max-width: 424.98px) {}