.navPadding {
    padding: 0 80px 0;
}

.userImgNav {
    width: 45px !important;
    height: 45px !important;
    border-radius: 50% !important;
    /* border: 1px solid rgb(95, 95, 237); */
}

.userImgNav:hover {
    opacity: 0.8;
}

.navDropdownMenu {
    width: 230px;
    background-color: #2B72EF !important;
}

.navMobileDropdown {
    width: 180px;
    background-color: #2B72EF !important;
}

.navDropdownbtn {
    background-color: #2B72EF;
    color: white;
    font-weight: 800px;
    padding: 4px 8px 4px 8px;
}

.navDropdownbtn:hover {
    background-color: rgb(242, 231, 231);
    color: #1350ba;
    font-weight: bolder;
    border-radius: 25px;
}

.navDropdownIcon {
    background-color: #6396ef;
    background-repeat: no-repeat;
    color: white;
    width: 35px;
    height: 35px;
    padding: 5px;
    border-radius: 50%;
}

.navHeight {
    max-height: 300vh !important;
    width: 200px !important;
}

.loginBtn {
    text-align: center;
    color: white;
    background-color: #2B72EF;
    width: 45px;
    height: 25px;
    font-size: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 1px;

}

.loginText {
    font-size: 15px;
}


@media (min-width: 1440px) and (max-width: 2559.98px) {}

@media (min-width: 1024px) and (max-width: 1199.98px) {
    .navPadding {
        padding: 0 60px 0;
    }
}

@media (min-width: 992px) and (max-width: 1023.98px) {
    .navPadding {
        padding: 0 60px 0;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {
    .navPadding {
        padding: 0 30px 0;
    }

    .userImgNav {
        margin-top: -20px;
    }
}

@media (min-width: 425px) and (max-width: 767.98px) {
    .navPadding {
        padding: 0 20px 0;
    }
}

@media (min-width: 320px) and (max-width: 424.98px) {
    .navPadding {
        padding: 0 15px 0;
    }
}