.userImgNav {
    width: 45px !important;
    height: 45px !important;
    border-radius: 50% !important;
    /* border: 1px solid rgb(95, 95, 237); */
}

.userImgNav:hover {
    opacity: 0.8;
}

.navDropdownMenu {
    width: 230px;
    background-color: #2B72EF !important;
}

.navDropdownbtn {
    background-color: #2B72EF;
    color: white;
    font-weight: 800px;
    padding: 4px 8px 4px 8px;
}

.navDropdownbtn:hover {
    background-color: rgb(242, 231, 231);
    color: #1350ba;
    font-weight: bolder;
    border-radius: 25px;
}

.navDropdownIcon {
    background-color: #6396ef;
    background-repeat: no-repeat;
    color: white;
    width: 35px;
    height: 35px;
    padding: 5px;
    border-radius: 50%;

}