.blogDetailsLink {
    color: #2B72EF;
}

.blogDetailsLink:hover {
    color: black;
}

.adminBlogListImg {
    width: 160px;
    /* max-width: 160px; */
    height: 110px;
    /* max-height: 110px; */
}

.memberBlogImg {
    width: 160px;
    height: 110px;
    max-height: 110px;
}


.blogArea {
    /* background-color: aliceblue; */
}

.blogArea:hover {
    background-color: rgb(235, 238, 243);
}