@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap"); */

* {
  padding: 0;
  margin: 0;
  /* font-family: "Noto Sans Bengali", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
}

a {
  text-decoration: none !important;
}

/* target the active bullet */
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #e7581a;
  opacity: 1;
}

/* target all bullets */
.swiper-pagination-bullet {
  background-color: red;
  opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  background-color: #e7581a;
}

.swiper-button-next {
  color: #009688 !important;

  height: fit-content;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
}

.swiper-button-prev {
  color: #009688 !important;

  height: fit-content;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
}

.swiper-button-next::after {
  font-family: "swiper-icons";
  font-size: 25px !important;
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;


  background-color: #d1cece;
  color: darkgreen;
  height: 45px;
  border-radius: 50%;
  padding: 10px 16px 0px 16px;
}

.swiper-button-prev::after {
  font-family: "swiper-icons";
  font-size: 25px !important;
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;



  /* content: 'prev'; */
  background-color: #d1cece;
  color: darkgreen;
  height: 45px;
  border-radius: 50%;
  padding: 10px 16px 0px 16px;
}


@font-face {
  font-family: 'TimesNewRoman';
  src: url('../public/fonts/TimesNewRoman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

  font-family: 'SolaimanLipi';
  src: url('../public/fonts/SolaimanLipi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'TimesNewRoman', sans-serif;
  font-family: 'SolaimanLipi', sans-serif;
}



/*
@media (min-width: 1440px) and (max-width: 2559.98px) {}

@media (min-width: 1024px) and (max-width: 1199.98px) {}

@media (min-width: 992px) and (max-width: 1023.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 425px) and (max-width: 767.98px) {}

@media (min-width: 320px) and (max-width: 424.98px) {} 
*/